#################
## Misc

bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
.DS_Store
/cubrid-migration.log
/cubrid-migration.*.log.gz
/logback-status.log
local.properties
.loadpath

## Maven stuff

target/
/workspace/

## Eclipse configs

.project
.classpath
.settings/
.metadata

## test

testd
tests/unit-test/logs/

## E2E test

tests/e2e/e2e-test.properties
